
figcaption{
    margin-top: 30px;
    position: center;
}

div{
    margin-bottom: 10px;
}
.PhotoTristar img{

    width: auto;
    height: auto;

}
.img-rounded c {
    width: 25rem;
    height: 25rem;

    position: center;
}

.img-thumbnail {
    width: 150%;
    height: 150%;

    position: center;
}

h5{
    position: center;
}