<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather Stations</title>
</head>
<body>
<h1>Weather Stations</h1>
<table>
    <tr th:each="historyPoint : ${history}">
      <td  th:text="*{historyPoint.getAirTemperature()}">temp</td>
        <td th:text="*{historyPoint.getMeasureTime()}">measure time</td>

    </tr>
</table>

</body>
</html>