<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <
</head>
<body>

<main>
    <button class="btn btn-primary btn-md btn-block" onClick="window.location.reload()">Odśwież zdjęcie
    </button>


    <section class="jumpers">

        <div class="container">
            <header>
                <h1>Zdjecia z Tristar'a</h1>
                <p>Sytuacja na drogach</p>
            </header>
            <div class="row">

                <div th:each="cameras : ${cameraName}" class="col-sm-6 col-md-3">

                    <figure class="figure">
                        <a href="#"><img th:src="@{/abc/} + ${cameras.getId()}" class="img-thumbnail"
                                         alt="Cinque Terre" width="100%" height="auto" ></a>
                        <div th:text="${cameras.getName()}" class="caption">Caption 1</div>
                        <!--<div th:text="${cameras.getName()}" class="caption">Caption 1</div>-->


                    </figure>


                </div>


            </div>


        </div>

    </section>

</main>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>
