<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../css/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="../css/leaflet-loader.css"/>
    <script type='text/javascript' src='../js/jquery.min.js'></script>
    <script type='text/javascript' src='../js/leaflet.js'></script>
    <script type='text/javascript' src='../js/leaflet-loader.js'></script>
    <script type='text/javascript' src='../js/leaflet-layerjson.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>


<header>

    <nav class="navbar navbar-dark  bg-primary navbar-expand-lg">

        <a class="navbar-brand" href="/"><img src="images/logo2.png" width="30" height="30"
                                              class="d-inline-block mr-1 align-bottom" alt=""> Tristar 2.0</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="/"> Start </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-expanded="false" id="submenu" aria-haspopup="true"> Mapa </a>

                    <div class="dropdown-menu" aria-labelledby="submenu">

                        <a class="dropdown-item" href="/CamerasMap"> Kamery </a>
                        <a class="dropdown-item" href="/VmsMap"> Tablice Zmiennej Treści </a>

                        <a class="dropdown-item" href="/WSMap"> Stacje Pogodowe </a>

                    </div>

                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/camera"> Zdjęcia z Kamer </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Stacja Pogodowa - Historia </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> Kontakt </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-expanded="false" id="submenu2" aria-haspopup="true"> Rest </a>

                    <div class="dropdown-menu" aria-labelledby="submenu">

                        <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="/cameras"> VMS </a>
                        <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="/vms"> Cameras </a>
                        <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="/ws"> WS </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>


<div class="container">

    <div class="mapDiv">
        <a href="/CamerasMap" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cameras</a>
        <a id="middleButton" href="/VmsMap" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">VMS</a>
        <a href="/WSMap" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">WS</a>
        <h1>Znaki i Tablice Zmiennej Treści</h1>
    </div>
    <article>
        <section>
            <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
            <div id="loader" style="..."></div>

        </section>
        <footer>

        </footer>
        <hr/>
    </article>

    <footer style="text-align: center">
        <p><span style="text-decoration:none;color:grey;">Dane z: <a style="text-decoration:none;color:grey;"
                                                                     href="http://otwartedane.gdynia.pl/"> Otwarte dane Gdynia </a></span>
        </p>
    </footer>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<!-- Our JS map script importing-->
<script type='text/javascript' src='../js/map/map.js'></script>
<script type='text/javascript' src='../js/map/markersVms.js'></script>
<!-- -->
</body>
</html>